
/* Estilos para centralizar o conteúdo */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Estilos para o espaço das instruções */
#instructions {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
